<h3>
	Proyectos
</h3>
<div *ngIf="proyectos.length > 0">
<table class="table table-hovered">
	<thead class="thead-dark">
    <tr>
      <th scope="col">Proyectos</th>
      <th scope="col">Acciones</th>
     
    </tr>
  </thead>
	<tr *ngFor="let proyecto of proyectos">
		<td>

			{{proyecto.nombre}}
		</td>
		<td>
			<div class="btn-group" role="group" aria-label="Basic example">
			  	<button type="button" class="btn btn-secondary" [routerLink]="['/proyecto/'+proyecto.id_proyecto+'']" >Detalle</button>
		  	</div>
		</td>
	</tr>
		
		  
		
	
</table>
</div>
<div *ngIf="proyectos.length == 0" class="alert alert-info">
	No tiene proyectos asignados ni creados...
</div>
<div>
	<button class="btn btn-success" (click)="crearProyecto()">Crear Proyecto</button>
</div>
